# Rust
target/
**/*.rs.bk
Cargo.lock
*.pdb

# WASM
wasm-bindings/pkg/
wasm-bindings/webpack.config.js
wasm-bindings/.wasm-pack/

# JavaScript
js-app/node_modules/
js-app/dist/
js-app/pkg/
*.wasm

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
